<div class='row'>
  <div class='col s2'>&nbsp;</div>
  <div class='col s8'>
    <h3>Welcome to your inbox.</h3>
    <p>Here you will see a list of all your messages from riders interested in joining your carpool.  You will have the option of accepting their requesting, replying (should you wish for more information), or deleting their message.</p>
  </div>
  <div class='col s2'></div>
</div>
<div class='row' style='height: 40%;'>
  <div class='col s8'>
    <table class="hoverable">
      <thead>
        <tr>
            <th data-field="sender">Sender</th>
            <th data-field="sent_at">Sent At</th>
            <th data-field="message">Message</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Bob Freedom</td>
          <td>07/04/14 01:23:45</td>
          <td>Does your carpool support freedom and democracy?</td>
        </tr>
        <tr>
          <td>Barack Obama</td>
          <td>03/14/15 09:26:53</td>
          <td>Check out Healthcare.gov!</td>
        </tr>
        <tr>
          <td>Xzibit</td>
          <td>08/06/07 05:03:09</td>
          <td>Yo dawg, I heard you like car pools.  So I put a car in your pool in your car, so you can be in a car in a pool while in a carpool.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='col s4'>
    <table>
      <thead>
        <tr>
          <th data-field='actions'>Approve</th>
          <th data-field='actions'>Reply</th>
          <th data-field='actions'>Delete</th>
        </tr>
      </thead>
      <tr>
        <td><button class='waves-effect waves-light btn'><i class="mdi-navigation-check"></i></button></td>
        <td><button class='waves-effect waves-light btn'><i class="mdi-content-reply"></i></button></td>
        <td><button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-action-delete"></i></button></td>
      </tr>
      <tr>
        <td><button class='waves-effect waves-light btn'><i class="mdi-navigation-check"></i></button></td>
        <td><button class='waves-effect waves-light btn'><i class="mdi-content-reply"></i></button></td>
        <td><button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-action-delete"></i></button></td>
      </tr>
      <tr>
        <td><button class='waves-effect waves-light btn'><i class="mdi-navigation-check"></i></button></td>
        <td><button class='waves-effect waves-light btn'><i class="mdi-content-reply"></i></button></td>
        <td><button class='waves-effect waves-light btn' style='background-color: #d91c2d;'><i class="mdi-action-delete"></i></button></td>
      </tr>
    </table>
  </div>
</div>