<div class="parallax-container">
	<div class="parallax">
		<img src="<%= image_path 'traffic.jpg' %>">
		<h2 style="position: absolute; top: 6.8rem; text-align: center; width: 100%; font-weight: bold; color: white;font-size: 7em;line-height: 1.3;text-shadow: 2px 3px 7px #333;">"I absolutely LOVE traffic."<br><small>- No. One. Ever.</small>
</h2>
	</div>
</div>
<div class="section white">
	<div class="row container">
		<h2 class="header">Welcome to Carpool Austin!</h2>
    	<p class="grey-text text-darken-3 lighten-3">This is an app that I, Glenn Meyer, developed for my final project at MakerSquare.  The purpose of this app is to showcase the abilities that I have acquired over the past three months.  Carpool Austin is intended to be an app that serves a community that would like to carpool during their commute.</p>
    </div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="<%= image_path 'skyline.jpg' %>"></div>
	<h2 style='position: absolute; top: 6.8rem; text-align: center; width: 100%; font-weight: bold; color: white;font-size: 7em;line-height: 2.2;text-shadow: 2px 3px 7px #333;'>Keep Austin Beautiful.</h2>
</div>
<div class="section white">
	<div class="row">
		<div class="col s3">&nbsp;</div>
	<div class="col s6">
	<ul class="collapsible" data-collapsible="accordion">
    	<li>
    		<div class="collapsible-header"><i class="mdi-action-report-problem"></i>The Problem</div>
    		<div class="collapsible-body"><p>There are over one hundred people moving to Austin every day.  Out of the 885,000 people that live in Austin, roughly 70% of the workers commute by themselves.</p></div>
    	</li>
    	<li>
	    	<div class="collapsible-header"><i class="mdi-action-info-outline"></i>The Solution</div>
	    	<div class="collapsible-body"><p>This app will serve as a medium to connect Drivers, those that wouldn't mind sharing their car with strangers, with Riders, those that wish to ride with people.  That in turn will help to lessen the congestion on the road.</p></div>
    	</li>
    	<li>
		    <div class="collapsible-header"><i class="mdi-action-thumbs-up-down"></i>Will It Work?</div>
		    <div class="collapsible-body"><p>That is up to the community to decide.  I hope, if people are provided the right incentives, that Carpool Austin will have a thriving community.</p></div>
    	</li>
	</ul>
</div>
		<div class="col s3"></div>
</div>
</div>

<script>
	$(document).ready(function(){
    	$('.parallax').parallax();

    	$('.collapsible').collapsible({
	    	accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	    });
    });
</script>